@font-face {
    font-family: "FedraSansStd";
    src: url('../fonts/FedraSansStd-Light.WOFF') format('woff');
    src: local('../fonts/FedraSansStd-Light.WOFF') format('woff');
}

@font-face {
    font-family: "FedraSansStdBold";
    src: url('../fonts/FedraSansStd-Bold.WOFF') format('woff');
    src: local('../fonts/FedraSansStd-Bold.WOFF') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "FedraSansStdBoldItalic";
    src: url('../fonts/FedraSansStd-BoldItalic.WOFF') format('woff');
    src: local('../fonts/FedraSansStd-BoldItalic.WOFF') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "FedraSansStdItalic";
    src: url('../fonts/FedraSansStd-LightItalic.WOFF') format('woff');
    src: local('../fonts/FedraSansStd-LightItalic.WOFF') format('woff');
    font-style: italic;
}
table {
	border-collapse: collapse;
	max-widht: 500px;
	float: left;

}

th {
	background-color: #00A66F;
}

div.container {
	padding: 10px;
	border: 
}

td:nth-of-body(odd) {
	background: #eee;
}

h5 {
	font-size: 18px;
	font-family: FedraSansStd;
}

h6 {
	font-size: 16px;
	font-family: FedraSansStd;
}

#groupTable {
}

