{% extends 'userprofile/base.html' %}
{% block body %}
<h2 style="text-align: center;">Splitter for Group {{ group.name }}</h2>
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-12 col-xs-12">
			<div class="row row-flex">
				<div class="col-lg-7 col-md-8 col-xs-8">
					<h5><span class="glyphicon glyphicon-user"></span> {{ user.user.get_full_name }}</h5>
					<h6><span class="glyphicon glyphicon-usd"></span> Balance: {{ balance }}</h6>
				</div>
				<div class="col-lg-4 col-lg-offset-1 col-md-offset-2 col-xs-2 col-xs-offset-2"><img src="../static/adelel.jpg" class="img-responsive img-circle"></div>
			</div>
			<div class="table-responsive">
				<h6><span class="glyphicon glyphicon-tasks"></span> Latest transactions</h6>
				<table class="table table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th>Description</th>
							<th>Amount</th>
						</tr>
					</thead>
					{% for transaction in transactions %}
					<tbody>
						<th scope="row">{{ forloop.counter }}</th>
						<td>{{ transaction.description }}</td>
						<td>{{ transaction.amount }}</td>
					</tbody>
					{% endfor %}
				</table>
			</div>
		</div>

		<div class="container" id="group">
			<div class="col-lg-8 col-md-12 col-xs-12">
				<div class="row row-flex">
					<div class="col-lg-4 col-md-6 col-xs-6">
						<h5><span class="glyphicon glyphicon-eye-open"></span> Group overview</h5>
						<h6><span class="glyphicon glyphicon-usd"></span> Total expenses: {{ total_group_expense }}</h6>
					</div><div class="col-lg-8 col-md-6 text-right col-xs-6">
						<h5>Shared costs</h5>
						<a type="button" class="btn btn-success">Food</a>
						<a type="button" class="btn btn-success">Transport</a>
						<a type="button" class="btn btn-default">Shopping</a>
					</div>
				</div>
				<div class="table-responsive">
					<h6><span class="glyphicon glyphicon-tasks"></span> Latest transactions</h6>
					<table class="table table-striped" id="groupTable">
						<thead>
							<tr>
								<th>#</th>
								<th>Description</th>
								<th>Payer</th>
								<th>Amount</th>

							</tr>
						</thead>
						{% for trans in group_transactions %}
						<tbody>
							<th scope="row">{{ forloop.counter }}</th>
							<td>{{ trans.description }}</td>
							<td>{{ trans.customer.user.get_full_name }}</td>
							<td>{{ trans.amount }}</td>
						</tbody>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
		<div class="container">
			<h5><span class="glyphicon glyphicon-heart"></span> Other Users in Group</h5>
			<div class="row">
				<div class="col-xs-6 well well-sm">
					<div class="table-responsive">
						<table class="table table-sm">
							<h5 style="text-align: center;">{{ user_a.user.get_full_name }}</h5>
							<thead>
								<tr>
									<th>#</th>
									<th>Description</th>
									<th>Amount</th>
								</tr>
							</thead>
							{% for transaction in transaction_list_a %}
							<tbody>
								<th scope="row">{{ forloop.counter }}</th>
								<td>{{ transaction.description }}</td>
								<td>{{ transaction.amount }}</td>
							</tbody>
							{% endfor %}
						</table>
					</div>
				<!-- </div> -->
			</div>
			<!-- <div class="row"> -->
				<div class="col-xs-6 well well-sm">
					<div class="table-responsive">
						<table class="table table-sm">
							<h5 style="text-align: center;">{{ user_b.user.get_full_name }}</h5>
							<thead>
								<tr>
									<th>#</th>
									<th>Description</th>
									<th>Amount</th>
								</tr>
							</thead>
							{% for transaction in transaction_list_b %}
							<tbody>
								<th scope="row">{{ forloop.counter }}</th>
								<td>{{ transaction.description }}</td>
								<td>{{ transaction.amount }}</td>
							</tbody>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	<div class="container well">
		<div class="col-sm-6">
			<form role="form" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form }}
				<button type="submit" class="btn btn-danger">Make Payment</button>
			</form>
		</div>
	</div>
</div>
</div>

{% endblock %}
